name: geocam
description: "Geotag your photos with location data"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.10.3

dependencies:
  flutter:
    sdk: flutter
  camera: ^0.11.0
  geolocator: ^10.1.0
  geocoding: ^2.1.0
  image: ^4.1.3
  path_provider: ^2.1.2


dev_dependencies:
  flutter_launcher_icons: ^0.13.1
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

flutter_launcher_icons:
  android: true
  ios: true
  adaptive_icon_background: "assets/background.png"
  adaptive_icon_foreground: "assets/foreground.png"
  image_path: "assets/Icon.png"
  image_path_ios: "assets/Icon.png"